%shadow {
  @include prefixes.prefix(
    transition,
    box-shadow var(--transition-speed) ease-in,
    webkit
  );
  box-shadow: rgba(var(--shadow-color-rgb), 0.4) 0px 7px 12px 0px;

  &:hover {
    box-shadow: rgba(var(--shadow-color-rgb), 0.6) 0px 7px 12px 0px;
  }
}

.theme-toggle {
  background-color: var(--surface);
  background-image: url(@assets/svg/pat.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1em;
  transition: all 0.5s ease;
  padding: 0 0.75em;
  @extend %shadow;
  cursor: pointer;
}

.theme {
  color: var(--text-primary);
  height: 100%;
  transition: all 0.5s ease;
}
